{% extends "base.html" %}
{% block content %}
<div>
    <form class="login_form" method="post">
        <input type="text" class="form-control" placeholder="Введите фамилию" name="surname">
        <input type="text" class="form-control" placeholder="Введите имя" name="name">
        <p>
        <div><input type="email" class="form-control" id="email" placeholder="Введите адрес почты" name="email"></div>
        </p>
        <p>
        <div class="form-group">
            <label for="classSelect">Какое у вас образование?</label>
            <select class="form-control" id="classSelect" name="class">
                <option>Начальное общее</option>
                <option>Основное общее</option>
                <option>Среднее общее</option>
                <option>Высшее</option>
            </select>
        </div>
        </p>
        <p>
        <div class="form-group">
            <label for="form-check">Укажите пол</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="male" value="male">
                <label class="form-check-label" for="male"> Мужской</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="female" value="female" checked>
                <label class="form-check-label" for="female">Женский</label>
            </div>
        </div>
        </p>
        <p>
        <div class="form-group">
            <label for="about">Почему Вы хотите пронять участие в миссии?</label>
            <textarea class="form-control" id="about" rows="3" name="about"></textarea>
        </div>
        </p>
        <div class="form-group">
            <label for="photo">Приложите фотографию</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <p>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
            <label class="form-check-label" for="acceptRules">Готовы остаться на Марсе?</label>
        </div>
        </p>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}