<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">

    </style>
    <title>Список профессий</title>
    <div class="alert-secondary"><h1>Миссия Колонизация Марса</h1></div>
    <div class="alert-light"><h4>И на Марсе будут яблони цвести!</h4></div>
    {% if tp == "ol" or tp == "ul" %}
    <h2 style="margin-left: 30px;">Список профессий</h2>
    {% else %}
    <div class="alert-danger" style="text-align: center; margin-top: 20px"><h2>Ошибка! Не верный параметр!</h2></div>
    {% endif %}

    {% if tp == "ol" %}
    <ol>
        {% for i in lst_prof %}
        <li style="margin-left: 30px;">{{i.capitalize()}}</li>
        {% endfor %}
    </ol>
    {% elif tp == "ul" %}
    <ul>
        {% for i in lst_prof %}
        <li style="margin-left: 30px;">{{i.capitalize()}}</li>
        {% endfor %}
    </ul>
    {% endif %}


</head>
<body>

</body>
</html>